img{
    width: 25px;
    height: auto;
}


body{
    padding-top: 10rem;
}

/* .toast{
    display: block;
    color: black;
    z-index: 100;
} */

/* #showToast{
    visibility: visible !important;
    opacity: 1 !important;
} */