<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">FPL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link {% block activeHome %} {% endblock %}" href="{% url 'home' %}">Home</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link {% block activeLogin %}  {% endblock %}" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block activeReg %}  {% endblock %}" href="{% url 'reg' %}">Registration</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link {% block activeTid %} {% endblock %}" href="{% url 'tid' %}">Transaction Id</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'points' %}">Points</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin-dash' %}">Admin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



